.postContainer
{
    text-decoration: none;
    display:grid;
    margin:auto;
    grid-template: 1fr / 1fr 1fr 1fr;
}
.post
{
    text-decoration: none;
    background-color: lightgray;
    height:100%;
    width:100%;
/*    margin:16px;*/
/*    padding:0px 2vw 0px 2vw;*/
    color:brown;
}
.post__title
{
    text-decoration: none;
    background-color: dimgray;
    border-radius: 10px 10px 0px 0px;
}
.post__content
{
    text-decoration: none;
    background-color:black;
    padding:24px;
    border-radius: 0px 0px 10px 10px;
}
.postLink
{
/*    text-decoration-line: none;*/
    text-decoration:none;
    color:black;
}