.detail
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.detail__title
{
    align-self: center;
}
.detail__post
{
    margin:32px;
    align-self: center;
}
.comments
{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    width:80%;
}
.comment
{
    align-self: center;
    color:red;
    border:1px solid;
    width:50%;
}