{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "header.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
    <title>Home</title>
<div class="postContainer">
{% for post in posts%}
    <a href="/post/{{post.id}}">
    <div class="postLink">
        <div class = "post">
            <div class="post__title">{{post.title}}{{post.user.email}}</div>
            <div class="post__content">{{ post.content }}</div>
            {{post.comments.comment}}
        </div>
    </div>
    </a>
{% endfor %}
</div>
<!--
{% for comment in comments%}
    {{ comment.content }}
{% endfor %}
-->
{% endblock %}


